*.la
*.lo
*.o
.deps/
.dirstamp
.libs/
/Idemo
/InterViews
/aclocal.m4
/ar-lib
/autom4te.cache/
/comdraw
/compile
/comterp
/comtest
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/dclock
/depcomp
/drawserv
/drawtool
/flipbook
/gclock
/glyphterp
/graphdraw
/iclass
/idemo
/idraw
/install-sh
/ivgetjpg
/ivtext
/ivtiftopnm
/libtool
/ltmain.sh
/m4/
/missing
/pnmtopgm
/refman.pdf
/src/man/refman3.1/refman.pdf
/stamp-h1
/stdcmapppm
Makefile
Makefile.in
