
a.out

*.o

config.log

config.status

config/config-darwin-gcc.defs

config/config.mk

config/config.mk

Makefile.bak

*.depend

config/InterViews/Makefile

config/Makefile

src/AttrGlyph/Makefile

src/Attribute/Makefile

src/comdraw/Makefile

src/ComGlyph/Makefile

src/comterp_/Makefile

src/ComTerp/Makefile

src/comtest/Makefile

src/ComUnidraw/Makefile

src/ComUtil/Makefile

src/dclock/Makefile

src/Dispatch/Makefile

src/utils/Makefile

src/UniIdraw/Makefile

src/Unidraw/Makefile

src/Unidraw-common/Makefile

src/TopoFace/Makefile

src/Time/Makefile

src/TIFF/Makefile

src/tests/y2k/Makefile

src/tests/Makefile

src/scripts/Makefile

src/OverlayUnidraw/Makefile

src/OS/Makefile

src/man/man1/Makefile

src/man/Makefile

src/Makefile

src/ivtext/Makefile

src/IVGlyph/Makefile

src/IV/Makefile

src/IV-X11/Makefile

src/IV-common/Makefile

src/IV-2_6/Makefile

src/InterViews/Makefile

src/include/Unidraw/Tools/Makefile

src/include/Unidraw/Makefile

src/include/Unidraw/Graphic/Makefile

src/include/Unidraw/Components/Makefile

src/include/Unidraw/Commands/Makefile

src/include/TIFF/Makefile

src/include/OS/Makefile

src/include/Makefile

src/include/ivstd/Makefile

src/include/IV-X11/Makefile

src/include/IV-look/Makefile

src/include/IV-2_6/Makefile

src/include/IV-2_6/InterViews/Makefile

src/include/InterViews/Makefile

src/include/Dispatch/Makefile

src/idraw/Makefile

src/idemo/Makefile

src/iclass/Makefile

src/html/templates/Makefile

src/html/Makefile

src/GraphUnidraw/Makefile

src/graphdraw/Makefile

src/glyphterp/Makefile

src/glyphs/timestamp/Makefile

src/glyphs/strchooser/Makefile

src/glyphs/scrollfield/Makefile

src/glyphs/scrollable/Makefile

src/glyphs/radiogroup/Makefile

src/glyphs/morpher/Makefile

src/glyphs/meter/Makefile

src/glyphs/Makefile

src/glyphs/gclock/Makefile

src/glyphs/formdemo/Makefile

src/glyphs/examples3.1/zoomer/Makefile

src/glyphs/examples3.1/rubband/Makefile

src/glyphs/examples3.1/print/Makefile

src/glyphs/examples3.1/preview/Makefile

src/glyphs/examples3.1/patch/Makefile

src/glyphs/examples3.1/menu/Makefile

src/glyphs/examples3.1/Makefile

src/glyphs/examples3.1/ips/Makefile

src/glyphs/examples3.1/image/Makefile

src/glyphs/examples3.1/himom/Makefile

src/glyphs/examples3.1/fonts/Makefile

src/glyphs/examples3.1/drag/Makefile

src/glyphs/examples3.1/circle/Makefile

src/glyphs/examples3.1/bvalue/Makefile

src/glyphs/examples3.1/button3/Makefile

src/glyphs/examples3.1/button2/Makefile

src/glyphs/examples3.1/button1/Makefile

src/glyphs/examples3.1/box5/Makefile

src/glyphs/examples3.1/box4/Makefile

src/glyphs/examples3.1/box3/Makefile

src/glyphs/examples3.1/box2/Makefile

src/glyphs/examples3.1/box1/Makefile

src/glyphs/bdvtable/Makefile

src/FrameUnidraw/Makefile

src/flipbook/Makefile

src/drawtool/Makefile

src/DrawServ/Makefile

src/drawserv_/Makefile

make.makefile

make.makefiles

config/arch.def.dist

*.def~

make.make

src/scripts/ivmkmf

src/utils/DARWIN/ivtmpnam

src/utils/DARWIN/stdcmapppm

*.dylib

src/comterp_/main.c.orig

src/ComTerp/iofunc.c.rej

src/ComTerp/ctrlfunc.c.orig

src/ComTerp/comterp.c.orig

src/ComUtil/popen2.c.orig

patches/ivtools-140424-scott-013.txt~

Makefile~

Imakefile~

make.imake

src/AttrGlyph/DARWIN/Makefile

src/Attribute/DARWIN/Makefile

src/comdraw/DARWIN/Makefile

src/ComGlyph/DARWIN/Makefile

src/comterp_/DARWIN/Makefile

src/ComTerp/DARWIN/Makefile

src/comtest/DARWIN/Makefile

src/ComUnidraw/DARWIN/Makefile

src/ComUtil/DARWIN/Makefile

src/dclock/DARWIN/Makefile

src/drawserv_/DARWIN/Makefile

src/DrawServ/DARWIN/Makefile

src/drawtool/DARWIN/Makefile

src/flipbook/DARWIN/Makefile

src/FrameUnidraw/DARWIN/Makefile

src/glyphs/bdvtable/DARWIN/Makefile

src/glyphs/examples3.1/box1/DARWIN/Makefile

src/glyphs/examples3.1/box2/DARWIN/Makefile

src/glyphs/examples3.1/box3/DARWIN/Makefile

src/glyphs/examples3.1/box4/DARWIN/Makefile

src/glyphs/examples3.1/box5/DARWIN/Makefile

src/glyphs/examples3.1/button1/DARWIN/Makefile

src/glyphs/examples3.1/button2/DARWIN/Makefile

src/glyphs/examples3.1/button3/DARWIN/Makefile

src/glyphs/examples3.1/bvalue/DARWIN/Makefile

src/glyphs/examples3.1/circle/DARWIN/Makefile

src/glyphs/examples3.1/drag/DARWIN/Makefile

src/glyphs/examples3.1/fonts/DARWIN/Makefile

src/glyphs/examples3.1/himom/DARWIN/Makefile

src/glyphs/examples3.1/image/DARWIN/Makefile

src/glyphs/examples3.1/ips/DARWIN/Makefile

src/glyphs/examples3.1/menu/DARWIN/Makefile

src/glyphs/examples3.1/patch/DARWIN/Makefile

src/glyphs/examples3.1/preview/DARWIN/Makefile

src/glyphs/examples3.1/print/DARWIN/Makefile

src/glyphs/examples3.1/rubband/DARWIN/Makefile

src/glyphs/examples3.1/zoomer/DARWIN/Makefile

src/glyphs/formdemo/DARWIN/Makefile

src/glyphs/gclock/DARWIN/Makefile

src/glyphs/meter/DARWIN/Makefile

src/glyphs/morpher/DARWIN/Makefile

src/glyphs/radiogroup/DARWIN/Makefile

src/glyphs/scrollable/DARWIN/Makefile

src/glyphs/scrollfield/DARWIN/Makefile

src/glyphs/strchooser/DARWIN/Makefile

src/glyphs/timestamp/DARWIN/Makefile

src/glyphterp/DARWIN/Makefile

src/graphdraw/DARWIN/Makefile

src/GraphUnidraw/DARWIN/Makefile

src/iclass/DARWIN/Makefile

src/idemo/DARWIN/Makefile

src/idraw/DARWIN/Makefile

src/include/IV-3_1/Makefile

src/IV-common/DARWIN/Makefile

src/IV/DARWIN/Makefile

src/IVGlyph/DARWIN/Makefile

src/ivtext/DARWIN/Makefile

src/man/man3/Makefile

src/OverlayUnidraw/DARWIN/Makefile

src/tests/y2k/DARWIN/Makefile

src/Time/DARWIN/Makefile

src/TopoFace/DARWIN/Makefile

src/Unidraw-common/DARWIN/Makefile

src/Unidraw/DARWIN/Makefile

src/UniIdraw/DARWIN/Makefile

src/utils/DARWIN/Makefile

src/AceDispatch/DARWIN/Makefile

src/AceDispatch/Makefile

*.c~

*.comterp~

*.comterp~

*.comterp~

*.comterp~

*.h~

MANIFEST.comterp~

MANIFEST~

*.cc~

*.DARWIN~

src/IV/DARWIN/g3states.h

src/IV/DARWIN/g3states.h

src/IV/DARWIN/g3states.h

src/IV/DARWIN/g3states.h
