*.la
*.lo
*.o
.deps/
.dirstamp
.libs/
/.pc/
/Idemo
/InterViews
/aclocal.m4
/autom4te.cache/
/comdraw
/compile
/comterp
/comtest
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/dclock
/depcomp
/drawserv
/drawtool
/flipbook
/gclock
/glyphterp
/graphdraw
/iclass
/idemo
/idraw
/install-sh
/ivgetjpg
/ivtext
/ivtiftopnm
/ivtmpnam
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/pnmtopgm
/refman.pdf
/stamp-h1
/stdcmapppm
Makefile
Makefile.in
