Source: ivtools
Priority: optional
Section: libs
Build-Depends: dpkg-dev (>= 1.22.5), debhelper-compat (= 13),
	autoconf-archive,
	zlib1g-dev,
	x11-utils, x11proto-core-dev,
	libx11-dev, libxext-dev,
	libtiff-dev, libace-dev, libice-dev,
	ghostscript
Build-Conflicts: autoconf2.13, automake1.4
Maintainer: Barak A. Pearlmutter <bap@debian.org>
Standards-Version: 4.6.2
Rules-Requires-Root: no
Homepage: http://www.ivtools.org
Vcs-Git: https://salsa.debian.org/debian/ivtools.git
Vcs-Browser: https://salsa.debian.org/debian/ivtools

Package: ivtools-bin
Section: graphics
Architecture: any
Depends: xterm | x-terminal-emulator, ${shlibs:Depends}, ${misc:Depends}
Suggests: imagemagick, libjpeg-progs, pstoedit
Description: Drawing Editors evolved from idraw
 InterViews is written in C++ and portable to several different Unix
 platforms.
 Applications written with the InterViews library can be configured to
 provide a special “Look and Feel”, such as SGI-Motif and normal Motif.
 This package contains mainly drawing programs written using the
 InterViews library: idraw, a basic vector graphics editor, graphdraw,
 flipbook, a vector graphics animation tool, a vector graphics server,
 and some small sample programs like dclock.

Package: ivtools-dev
Section: devel
Architecture: any
Depends: libiv2t64 (= ${binary:Version}),
	 libiv-unidraw2t64 (= ${binary:Version}),
	 libc6-dev, libtiff-dev, zlib1g-dev, libace-dev,
	 ${shlibs:Depends}, ${misc:Depends}
Description: Development files for the InterViews library
 InterViews is written in C++ and portable to several different Unix
 platforms.
 Applications written with the InterViews library can be configured to
 provide a special "Look and Feel", such as SGI-Motif and normal Motif.
 This package contains the include files needed to develop
 applications with the ivtools library, along with appropriate dynamic
 library links and static libraries.

Package: libiv2t64
Provides: ${t64:Provides}
Replaces: libiv2
Breaks: libiv2 (<< ${source:Version})
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ GUI library with Motif Look and Feel
 InterViews is written in C++ and portable to several different Unix
 platforms.
 Applications written with the InterViews library can be configured to
 provide a special "Look and Feel", such as SGI-Motif and normal Motif.
 This package contains the InterViews dynamic library.

Package: libiv-unidraw2t64
Provides: ${t64:Provides}
Replaces: libiv-unidraw2
Breaks: libiv-unidraw2 (<< ${source:Version})
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Application Frameworks layered on Unidraw
 InterViews is written in C++ and portable to several different Unix
 platforms.
 Applications written with the InterViews library can be configured to
 provide a special "Look and Feel", such as SGI-Motif and normal Motif.
 The package includes the unidraw dynamic library, along with
 extensions for frame and graph editing needed by the ivtools vector
 graphics editors.
