#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build clean install binary-arch binary-indep binary:
	dh $@ --with autotools_dev --with quilt --parallel

.PHONY: build clean binary-indep binary-arch binary install

override_dh_auto_configure:
	dh_auto_configure --						\
		--prefix=/usr						\
		--mandir=/usr/share/man					\
		--x-includes=/usr/include				\
		--x-libraries=/usr/lib					\
		--with-tiff=/usr					\
		--with-ace=/usr/include --with-ace-libs=/usr/lib

override_dh_auto_build:
	$(MAKE) Makefile  ARCH=LINUX
	$(MAKE) Makefiles ARCH=LINUX
	$(MAKE) ARCH=LINUX CCLINKER='$$(CXX)'
	(cd src/man/refman3.1 && ps2pdf refman.PS refman.pdf)

override_dh_auto_install:
	dh_auto_install -- ARCH=LINUX CCLINKER='$$(CXX)' \
		     BINDIR=$(CURDIR)/debian/tmp/usr/bin		\
		  CONFIGDIR=$(CURDIR)/debian/tmp/usr/lib/ivtools/config	\
		     INCDIR=$(CURDIR)/debian/tmp/usr/include		\
		     LIBDIR=$(CURDIR)/debian/tmp/usr/lib		\
		  LIBABSDIR=$(CURDIR)/debian/tmp/usr/lib		\
		  LIBALLDIR=$(CURDIR)/debian/tmp/usr/lib/ivtools	\
		     MANDIR=$(CURDIR)/debian/tmp/usr/share/man
	# No idea what this was for...
	# [ ! -f src/glyphs/Makefile ] || $(MAKE) -C src/glyphs clean
	@echo remove incorrect executable bit from some random text files
	chmod --verbose a-x debian/tmp/usr/lib/ivtools/Idemo
	chmod --verbose a-x debian/tmp/usr/lib/ivtools/comterp.err
	@echo remove libACE link, unneeded since we are using system libACE
	rm --verbose debian/tmp/usr/lib/libACE.so

override_dh_install:
	dh_install
	@echo prevent executables in ivtools-dev from being duplicated in ivtools-bin
	find debian/ivtools-dev/usr/bin -type f -o -type l \
	 | sed s:^debian/ivtools-dev/:debian/ivtools-bin/: \
	 | xargs --no-run-if-empty rm --verbose
	@echo prevent library files in libiv1 from being duplicated in libiv-unidraw1
	find debian/libiv1/usr/lib -type f -o -type l \
	 | sed s:^debian/libiv1/:debian/libiv-unidraw1/: \
	 | xargs --no-run-if-empty rm --verbose

override_dh_installman:
	dh_installman
	@echo prevent man pages in ivtools-dev from being duplicated in ivtools-bin
	find debian/ivtools-dev/usr/share/man/man1 -type f -o -type l \
	 | sed s:^debian/ivtools-dev/:debian/ivtools-bin/: \
	 | xargs --no-run-if-empty rm --verbose
